.posts {
    color:cornsilk;
    margin-top: 10px;
}
.postsBlock {
    padding: 10px;
}
.title {
    text-align: center;
    font-size: 24px;
    color:#eee;
}
.TextInput {
    resize:none;
    max-width:200px;
    height:100px;
    margin-top: 15px;
    outline: none;
    box-shadow: 1px 0px 10px rgba(0,0,0,0.4);
}
.addButtonWrapper {
    margin-top: 10px;
    margin-bottom: 15px;
}
.addButton {
    width:80px;
    height:25px;
    border-radius: 8px;
    border:none;
    outline: none;
    box-shadow: 1px 0px 8px rgba(0,0,0,0.3);
    transition: .4s;
    cursor:pointer;
}
.addButton:hover {
    box-shadow: 1px 0px 8px rgba(0,0,0,0.6);
}